@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

*{
  padding: 0;
  margin: 0;
}

body{
  overflow-x: hidden;
  background-color: whitesmoke;
  font-family: 'Oswald', sans-serif;
}

.container{
  width: 1280px;
  height: 100vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner{
  width: 95%;
  margin: auto;
  padding: 20px 0;
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap-reverse;
}

#media-tags{
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.song-data{
  height: 300px;
  display: flex;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 5px;
  background-color: white;
  border: 1px solid lightgray;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.9);
}

.song-file{
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.song-file input{
  border: 1px dotted lightgray;
}

.song-play{
  height: 50px;
  margin-top: 10px;
  margin-bottom: 5px;
}

label{
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
  padding: 10px;
  border: 1px solid lightgray;
}

#songUpload{
  opacity: 0;
  position: absolute;
   z-index: -1;
}

#cover{
  display: block;
  width: 500px;
  height: 400px;
  border-radius: 5px;
  background-size: cover;
  background-position: center;
  background-image: url('music.jpg');
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.9);
}

#cover img{
  width: 100%;
  height: 400px;
  border-radius: 5px;
}

#genre{
  color: #888;
}

@media(max-width:1280px){
  .container{
    width: 100%;
  }
}

@media(max-width:880px){
  .inner{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #cover, #cover img{
    display: none;
  }
}