@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Oswald', sans-serif;
}

.nav {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.container {
  max-width: 1280px;
  width: 95%;
  min-height: calc(100vh - 90px);
  margin: auto;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  gap: 20px;
}

.music-player {
  width: 350px;
  height: 350px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.metadata {
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 5px;
  border: 1px solid lightgray;
}

.metadata #album {
  color: #888;
}

.controller {
  width: 100%;
  height: auto;
  margin-top: 10px;
  margin-bottom: 5px;
}

.upload{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.upload label {
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
  padding: 10px;
  border: 1px solid lightgray;
  background-color: white;
}

.upload #upload {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

#cover {
  width: 350px;
  height: 350px;
  border-radius: 5px;
  background-size: cover;
  background-position: center;
  background-image: url('music.jpg');
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.9);
}

@media(max-width:1280px) {
  .container {
    width: 100%;
  }
}

@media(max-width:768px) {
  .music-player {
    height: auto;
  }

  .metadata {
    font-size: 0.8rem;
  }
}

@media(max-width:468px) {

  .metadata,
  #cover {
    width: 100%;
  }
}
